
footer {
  text-transform: uppercase;
  padding: 20px 0;
  font-size: 14px;
  letter-spacing: 0.08em;
  font-weight: 500;
  color: white;
  background-color: #0d2c40;
}

.copyright,
.message {
  font-family: "Raleway", sans-serif;
}

.copyright {
  float: left;
}

.message {
  float: right;
}

.clearfix::after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

.name {
  color: #f15b31;
  font-weight: 700;
}

nav {
  border-bottom: 2px solid transparent;
}

a:hover {
/* Your styles here */
}
